<phpunit bootstrap="tests/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Transbank Onepay SDK Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
