name: PHPUnit

on:
  pull_request:
    branches:
      - master
env:
  PHP_EXTENSIONS: 'mbstring, curl, json'
  key: cache-v1 # can be any string, change to clear the extension cache.

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:        
        php-versions: [  '7.3', '7.4', '8.0']
    name: PHP ${{ matrix.php-versions }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup cache environment
      id: extcache
      uses: shivammathur/cache-extensions@v1
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: ${{ env.PHP_EXTENSIONS }}
        key: ${{ env.key }}
        tools: composer-v2
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        tools: composer:v2
        coverage: none
      env:
        runner: ubuntu-latest # Specify the runner.
    - name: Get composer cache directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: composer-
    - name: Install dependencies
      run: composer install --prefer-dist


    - name: 'Run phpunit/phpunit'
      run: 'vendor/bin/phpunit'